.places{
    padding: 0;
    margin: auto;
}
@media screen and (min-width: 1025px) {
    .places {
     max-width: 984px;
         }
       }
       
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .places {
        max-width: 928px;
       }
   }
       
@media screen and (min-width: 665px) and (max-width: 768px) {
    .places {
       max-width: 720px;
         }
       }
       
