.intro__list{
    width: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: 33px;
    max-height: 90px;
}

@media screen and (min-width: 1025px) {
    .intro__list {
      max-width: 690px;
      margin-left: 148px;
    }
  }
  
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .intro__list {
      max-width: 690px;
      margin-left: 48px;
    }
  }
  
@media screen and (min-width: 321px) and (max-width: 768px) {
    .intro__list {
      max-width: 720px;
      margin-left: 24px;
    }
  }
  
@media screen and (max-width: 320px) {
    .intro__list {
      max-width: 288px;
      margin-left: 16px;
    }
  }