.photo-grid__item{
    object-fit: cover;
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 1025px) {
    .photo-grid__item{
      max-width: 284px;
      max-height: 213px;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .photo-grid__item{
      max-width: 300px;
      max-height: 225px;
    }
  }
  
@media screen and (max-width: 768px) {
    .photo-grid__item{
      max-width: 352px;
      max-height: 2844px;
  }
}
  /**
@media screen and (max-width: 425px) {
    .photo-grid__item{
      max-width: 288px;
      max-height: 216px;
    }
  }