.place__paragraphs{
    text-align: left;
    margin: 0;
    padding: 0;
    align-self: start;
}
 @media screen and (min-width: 425px)  {
     .place__paragraphs{
        grid-column: 2/3;
        grid-row: 2/3;
     }
 }
 @media screen and (max-width: 425px) {
     .place__paragraphs{
         margin-left: 16px;
         max-width: 288px;
     }
 }