@font-face{
    src: url(../fonts/Inter-Black.otf);
    font-family:'Inter Black';
    font-weight: 900;
}
@font-face{
    src: url(../fonts/Inter-Regular.otf);
    font-family:'Inter Regular';
    font-weight: 400;
}
@font-face {
    font-family: 'Inter Bold';
    src: url(../fonts/Inter-Bold.otf);
    font-weight: 700;
}