.place{
    display: grid;
    grid-template-rows: auto;
    list-style: none;
    margin: auto;
    align-items: end; 
    }

 @media screen and (min-width: 1025px) {
   .place {
    grid-template-columns: repeat(2, 1fr);
    max-width: 984px;
    margin-top: 92px;
    column-gap: 40px;
    row-gap: 50px;
        }
      }
      
  @media screen and (min-width: 768px) and (max-width: 1025px) {
   .place {
    grid-template-columns: repeat(2, 1fr);
    max-width: 928px;
    margin-top: 80px;
    column-gap: 40px;
    row-gap: 50px;
        }
      }
      
  @media screen and (min-width: 425px) and (max-width: 768px) {
    .place{
      grid-template-columns: repeat(2, 1fr);
      max-width: 720px;
      margin-top: 73px;
      column-gap: 40px;
      row-gap: 50px;
      margin: 73px auto;
        }
      }
      
  @media screen and (max-width: 425px) { 
    .place {
      row-gap: 32px;
      margin: 50px auto;
        } 
      }